<div class="home-container">

  <a routerLink="/admin/login" class="admin-btn">
    Admin Dashboard
  </a>

  <h1 class="home-title">TechQuiz</h1>
  <p class="home-subtitle">Choose a Technology Category</p>

  <div class="categories-grid">
    <div class="card" *ngFor="let item of categories()">

      <div class="card-icon">
        <i [class]="item.icon + ' fa-2x'"></i>
      </div>

      <div class="card-title">{{ item.name }}</div>

      <button class="btn" [routerLink]="['/quiz', item.id]">Start Quiz</button>
    </div>
  </div>

</div>
