<div class="categories-header">
  <h2>Categories</h2>

  <button class="add-btn">
    + Add Category
  </button>
</div>

<div class="categories-card">
  <table class="categories-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Icon</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of categories">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.icon }}</td>
        <td class="actions">
          <i class="fas fa-edit edit"></i>
          <i class="fas fa-trash delete"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
