<div class="modal-backdrop" *ngIf="visible">
  <div class="modal">
    <h2>{{ data ? 'Edit Category' : 'Add Category' }}</h2>

    <label>
      Name
      <input type="text" [(ngModel)]="form.name" class="input" />
    </label>

    <label>
      Icon
      <select [(ngModel)]="form.icon" class="select">
        <option *ngFor="let item of icons" [value]="item.icon">
          {{ item.key }}
        </option>
      </select>
    </label>

    <div class="icon-preview">
      <i [class]="form.icon + ' fa-2x'"></i>
    </div>

    <div class="actions">
      <button class="cancel" (click)="close.emit()">Cancel</button>
      <button class="confirm" (click)="submit()">
        {{ data ? 'Save' : 'Create' }}
      </button>
    </div>
  </div>
</div>