$radius: 12px;

$shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

$transition: 0.25s ease-in-out;

$font-title: 'Inter', sans-serif;
$font-text: 'Inter', sans-serif;
