.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 420px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease;

  h2 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #475569;

    .input {
      width: 94%;
      padding: 0.65rem 0.8rem;
      margin-bottom: 1.4rem;
      border-radius: 10px;
      border: 1px solid #cbd5e1;
      background: #f8fafc;
    }

    .select {
      width: 100%;
      padding: 0.65rem 0.8rem;
      margin-bottom: 1.2rem;
      appearance: none;
      background: #f8fafc url("data:image/svg+xml;utf8,<svg fill='%236c7280' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5.5 7l4.5 4 4.5-4'/></svg>") no-repeat right 14px center;
      background-size: 16px;
      padding-right: 44px;
      border-radius: 10px;
      border: 1px solid #cbd5e1;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

  .icon-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    background-color: #cbd5e1;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    i {
      color: #0ea5e9;
    }
  }

  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
    }

    .cancel {
      background: #e2e8f0;
    }

    .confirm {
      background: #0bb8f9;
      color: white;
    }
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}