<div class="page-header">
  <h2>Questions</h2>
  <button class="add-btn" (click)="openCreate()">+ Add Question</button>
</div>

<div class="questions-card">
  <table class="questions-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of questions()">
        <td>{{ item.id }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.category?.name }}</td>

        <td>
          <i class="fa fa-edit edit" (click)="openEdit(item)"></i>
          <i class="fa fa-trash delete" (click)="delete(item.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-question-modal
  [visible]="modalVisible()"
  [data]="editingItem()"
  [categories]="categories()"
  (save)="save($event)"
  (close)="modalVisible.set(false)">
</app-question-modal>
