.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 1.8rem;
  width: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
  }

  select {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #cbd5e1;
  }

  .modal-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
    }

    .cancel {
      background: #e2e8f0;
    }

    .save {
      background: #0bb8f9;
      color: white;
    }
  }
}
