<div class="login-page">

  <div class="login-card">
    <h1 class="title">TechQuiz Admin</h1>
    <p class="subtitle">Login to manage categories, questions and alternatives</p>

    <form (ngSubmit)="login()">

      <label>Username</label>
      <input type="text" [(ngModel)]="username" name="username" required />

      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" required />

      <button class="btn-login" type="submit">Login</button>

    </form>
  </div>

</div>
