<div class="login-page">

  <div class="login-card">
    <h1 class="title">TechQuiz Admin</h1>
    <p class="subtitle">Login to manage categories, questions and alternatives</p>

    <form (submit)="login($event)">

      <label>Username</label>
      <input type="text" [(ngModel)]="username" name="username" required />

      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" required />

      <button class="btn-login" type="submit" [disabled]="loading">{{ loading ? 'Logging in...' : 'Login' }}</button>
      
    </form>
    <button class="btn-back" type="button" (click)="goBack()">
      ← Voltar para o Quiz
    </button>
  </div>

</div>
